<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Report Repair System</title>
</head>

<body>
    <div class="background"></div>
    <div class="dashboard-container">
        <div class="main-content">
            <h1 class="header">Report Repair System</h1>
            <div class="stats-container">
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/general/user" class="nav-link">
                            <i class="fas fa-users"></i>
                            ผู้ใช้งาน
                        </a>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/general/equipments" class="nav-link">
                            <i class="fas fa-toolbox"></i>
                            อุปกรณ์ทั้งหมด
                        </a>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/issue/report" class="nav-link">
                            <i class="fa-solid fa-screwdriver-wrench"></i>
                            แจ้งปัญหา
                        </a>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/auth/login" class="nav-link">
                            <i class="fa-solid fa-user-tie"></i>
                            เข้าระบบแอดมิน
                        </a>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/general/completed" class="nav-link">
                            <i class="fa-solid fa-table-list"></i>
                            ปัญหาที่ได้รับการอนุมัติ
                        </a>
                    </div>
                </div>
                <div class="stat-card">
                    <div class="card-value">
                        <a href="/general/reportlist" class="nav-link">
                            <i class="fa-solid fa-table-list"></i>
                            ปัญหาที่แจ้ง
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
